In [1]:
# Generating Sample Data

import math
import pandas as pd
import random
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [5]:
x = list(range(0,5000,20))
y = [(10000-2*i)/1000 for i in x]
test_data = pd.DataFrame(y, x, columns= ["Y"])
new_x = [(datetime.now() + timedelta(seconds = i)).strftime('%m/%d/%Y, %H:%M:%S') for i in x]
print(new_x[:10])
print(len(y))
print(y[-1])

['04/23/2019, 23:23:21', '04/23/2019, 23:23:41', '04/23/2019, 23:24:01', '04/23/2019, 23:24:21', '04/23/2019, 23:24:41', '04/23/2019, 23:25:01', '04/23/2019, 23:25:21', '04/23/2019, 23:25:41', '04/23/2019, 23:26:01', '04/23/2019, 23:26:21']
250
0.04

In [6]:
test_data["Date"] = new_x
test_data.head()

        Y                  Date
0   10.00  04/23/2019, 23:23:21
20   9.96  04/23/2019, 23:23:41
40   9.92  04/23/2019, 23:24:01
60   9.88  04/23/2019, 23:24:21
80   9.84  04/23/2019, 23:24:41

In [7]:
test_data.to_csv("tests/food_data.csv", index = False)